<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block meta %}{% endblock %}
    <title>Cercle Confiance | {% block title %}Accueil{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" media="screen" rel="stylesheet">
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}">
    <link rel="manifest" href="/manifest.json" />

    <script async custom-element="amp-web-push" src="//cdn.ampproject.org/v0/amp-web-push-0.1.js"></script>
    <script src="//cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<script src="{{ asset('assets/js/OneSignal/init.js') }}"></script>{% endif %}
</head><!--/head-->
{% set current_path = app.request.get('_route') %}

<body class="{% block page_type %}{% endblock %} {{ current_path }} ">
{% block navbar %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4 footerLinks">
                <a href="{{ path('nos_partenaires') }}">Nos partenaires</a>
            </div>
            <div class="col-xs-12 col-sm-4 footerLinks">
                <a href="{{ path('mentions_legales') }}">Mentions légales</a>
            </div>
            <div class="col-xs-12 col-sm-4 footerLinks">
                <a href="#">Contactez-nous</a>
            </div>
            <div class="col-xs-12 mentionFooter footerLinks">
                &copy; 2017 Cercle Confiance.
            </div>
        </div>
    </div>
</footer><!--/#footer-->
{% endblock %}

</body>
{% block javascript %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/mousescroll.js') }}"></script>
    {#<script src="{{ asset('assets/js/jquery.prettyPhoto.js') }}"></script>#}
    {#<script src="{{ asset('assets/js/jquery.isotope.min.js') }}"></script>#}
    {#<script src="{{ asset('assets/js/jquery.inview.min.js') }}"></script>#}
    <script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>
   <!-- <script src="{{ asset('assets/js/custom.js') }}"></script>-->
    <script src="{{ asset('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>


{% endblock %}
</html>
