<h2>Cercle Confiance - Cloud / Partage de fichier</h2>

<p>
    Bonjour,
    <br />
    <strong>{{ currentUserName }}</strong> a soumis un nouveau fichier "{{ fileName }}" dans le Cloud du Cercle Confiance "<strong>{{ circleName }}</strong>".
    <br />
    <strong style="font-size:1em;color:#337ab7;"><a href="{{ basepath }}cercles/{{ token }}/mur">Voir le fichier soumis</a></strong>.
</p>