{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
    <div class="row fos_userProfileUpdated">
        <div class="col-sm-8 col-sm-offset-2">
            <header class="section-header">
                <h2 class="section-title text-center wow fadeInDown">{{ 'profile.flash.updated'|trans }}</h2>
            </header>
            <p>{{ user.firstname }} {{ user.name }},</p>
            <p>
                <p>Modification de votre profil effectuée !</p>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-default btn-info">
                <i class="fa fa-pencil fa-fw" aria-hidden="true" title="{{ app.user.username }}"></i> {{ 'profile.edit.submit'|trans }}
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <a href="{{ path('home') }}" class="btn btn-default"><i class="fa fa-undo fa-fw" aria-hidden="true" title="{{ app.user.username }}"></i> Retourner à l'accueil</a>
        </div>

    </div>
</div>
{% endblock %}