{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.transitions.css') }}" rel="stylesheet">
    {#<link href="{{ asset('assets/css/prettyPhoto.css') }}" rel="stylesheet">#}
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
    {{ parent() }}
    <link href="{{ asset('assets/css/frontStyle.css') }}?{{ date().timestamp }}" rel="stylesheet">
{% endblock %}

{% block links %}
    <!--<li class="scroll"><a href="/">Accueil</a></li>-->
    <li class="scroll"><a href="{{ path('presentation') }}" title="A propos">A propos</a></li>
    <li class="scroll"><a href="{{ path('services') }}" title="Services">Services</a></li>
    <li class="scroll"><a href="{{ path('pres_objets') }}" title="Objets connectés">Objets connectés</a></li>
    <li class="scroll active"><a href="{{ path('accueil') }}" title="Accès aux cercles">Accès aux cercles</a></li>
{% endblock %}

{% block navbar %}

    <header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2 col-sm-1 text-center stopPaddLink hidden-md hidden-lg pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-header col-xs-2 col-sm-2 col-lg-1 stopPaddLink ">
                        <a class="navbar-brand" href="/">
                            <img src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}" alt="logo_cercle_confiance" class="logo">
                        </a>
                    </div>
                    <div class="hidden-xs hidden-sm {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}col-xs-6 col-sm-8 col-lg-9 {% else %}col-xs-9 col-sm-8 col-lg-9 {% endif %}text-center stopPaddLink">
                        <ul class="nav navbar-nav">
                            <!--<li class="scroll"><a href="/">Accueil</a></li>-->
                            <li class="scroll"><a href="{{ path('presentation') }}">A propos</a></li>
                            <li class="scroll"><a href="{{ path('services') }}">Services</a></li>
                            <li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>
                            <li class="scroll"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>
                        </ul>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}col-xs-8 col-sm-8 col-md-2 col-lg-2 {% endif %}text-center stopPaddLink user text-center">
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-lg">
                            <img src="{% if app.user.avatar != null %}{{ asset("uploads/" ~ app.user.avatar) }}{% else %}{{ asset("assets/img/avatar.png") }}{% endif %}" class="avatar img-circle" alt="{{ app.user.firstname }} {{ app.user.name }}">
                            <i class="fa fa-2x fa-id-card-o" aria-hidden="true" title="{{ app.user.username }}"></i>
                        </a>
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-lg logout" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                            <i class="fa fa-2x fa-sign-out"></i>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-xs-12 text-center stopPaddLink hidden-md hidden-lg">
                        <div class="collapse navbar-collapse">
                            <div id="item">
                                <ul class="nav navbar-nav">
                                    <!--<li class="scroll"><a href="/">Accueil</a></li>-->
                                    <li class="scroll"><a href="{{ path('presentation') }}">A propos</a></li>
                                    <li class="scroll"><a href="{{ path('services') }}">Services</a></li>
                                    <li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>
                                    <li class="scroll active"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </nav>
        {#<nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">#}
            {#<div class="container-fluid">#}
                {#<div class="navbar-header">#}
                    {#<div class="row">#}
                        {#<div class="col-xs-3 col-sm-2">#}
                            {#<a class="paddingLogoNavFront navbar-brand" href="/"><img class="logoFront" src="{{ asset('assets/img/logos/logo-CERCLE-CONFIANCE-quadri.png') }}"#}
                                 {#alt="logo_cercle_confiance"></a>#}
                        {#</div>#}
                        {#<div class="col-xs-7 col-sm-9 responsiveLogout">#}
                                {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                                {#<div class="blockLogout text-center">#}
                                    {#<span>#}
                                        {#<img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">#}
                                        {#<img src="{% if app.user.avatar != null %}{{ asset("uploads/" ~ app.user.avatar) }}{% else %}{{ asset("assets/img/avatar.png") }}{% endif %}" class="avatar img-circle" alt="{{ app.user.firstname }} {{ app.user.name }}">#}
                                        {#<strong>{{ app.user.username }}</strong>#}
                                    {#</span>#}
                                    {#<a class="btnLogout" href="/logout"><i class="fa fa-sign-out"></i></a>#}
                                {#</div>#}
                                {#{% endif %}#}

                        {#</div>#}
                        {#<div class="col-xs-2 col-sm-1 text-right">#}
                            {#<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
                                {#<span class="sr-only">Toggle navigation</span>#}
                                {#<span class="icon-bar"></span>#}
                                {#<span class="icon-bar"></span>#}
                                {#<span class="icon-bar"></span>#}
                            {#</button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="collapse navbar-collapse">#}
                    {#<div id="item">#}
                        {#<ul class="nav navbar-nav">#}
                            {#{% block links %}#}
                            {#<!--<li class="scroll"><a href="/">Accueil</a></li>-->#}
                            {#<li class="scroll"><a href="{{ path('presentation') }}">A propos</a></li>#}
                            {#<li class="scroll"><a href="{{ path('services') }}">Services</a></li>#}
                            {#<li class="scroll"><a href="{{ path('pres_objets') }}">Objets connectés</a></li>#}
                            {#<li class="scroll active"><a href="{{ path('accueil') }}">Accès aux cercles</a></li>#}
                            {#{% endblock %}#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="desktopLogout">#}
                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                        {#<div class="blockLogout text-center pull-left">#}
                            {#<img src="{{ asset("uploads/" ~ app.user.avatar) }}" class="avatar img-circle">#}
                            {#<img src="{% if app.user.avatar != null %}{{ asset("uploads/" ~ app.user.avatar) }}{% else %}{{ asset("assets/img/avatar.png") }}{% endif %}" class="avatar img-circle" alt="{{ app.user.firstname }} {{ app.user.name }}">#}
                            {#<strong>{{ app.user.username }}</strong>#}
                        {#</div>#}
                        {#<a class="btnLogout pull-right" href="/logout"><i class="fa fa-sign-out"></i></a>#}
                        {#{% endif %}#}
                    {#</div>#}
                {#</div>#}
            {#</div><!--/.container-->#}
        {#</nav><!--/nav-->#}
    </header><!--/header-->
{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!--<script src="{{ asset('assets/js/smoothscroll.js') }}"></script>-->
{% endblock %}
