{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="container">
    <div class="row userChangePassword">
        <div class="col-sm-8 col-sm-offset-2">
            <header class="section-header">
                <h2 class="section-title text-center wow fadeInDown">{{ 'resetting.request.submit'|trans }}</h2>
            </header>
        </div>
        <div class="col-sm-8 col-sm-offset-2 form">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div class="form-group text-center">
                    <input class="btn btn-default btn-info" type="submit" value="{{ 'change_password.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
